body{
	background-color: #171E24;
	color: white;
	margin: 0;
	padding: 0;	
}


.header{
	background-color: black;
	text-align: center;
	font-size: 2em;
	width: 100%;
	height: 60px;
	padding-top: 10px;
	font-weight: bold;
}
.navbar{
	margin: 0;
	background-color: #434343;
}

 li {
	list-style-type: none;

	font-size: 20px;

	height: 40px;


}
.description  {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 200px;
	margin-top:120px;
	margin-left: 10px;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background-color: #111111;
	display: flex;
	border-radius: 5px;


}
.description img{
	width: 130px;
	border-radius: 10px;
	transition: .3s ease-in-out;
}
.counter{
	font-weight: bold;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin-left: 250px;
	background-color: green;

	font-size: 30px;
	margin-top: -50px;
	padding-left: 20px;
	padding-top: 10px;
}
div.description2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width:500px;
	height: 200px;
	margin-top:120px;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background-color: #111111;
	display: flex;
	border-radius: 5px;

}

.description2 img{
	width: 130px;
	border-radius: 10px;
}
.img-description img{
	width: 130px;
	border-radius: 10px;
}
 .content {
	padding-left: 30px;

}
.handRight{
	margin-top:80px;
	padding-left: 180px;
	font-weight: bold;
	color: green;

}
 .content-box {
	padding-left: 30px;
}
.image-description .content {
	padding-left: 30px;
}
.description2 .content{
	padding-left: 30px;
}
.hero-section {
	text-align: center;
	display: flex;
	justify-content: space-around;

}
#btn{
	background-color: green;
	color: white;
	border: none;
   outline: none;
}
.img-description {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-top:380px;
	height: 200px;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background-color: #111111;
	display: flex;
	border-radius: 5px;

}
.image-description {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-top:380px;
	height: 200px;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background-color: #111111;
	display: flex;
	border-radius: 5px;
}
.image-description img{
	width: 130px;
	border-radius: 10px;
}
.description img{
	width: 130px;
	border-radius: 10px;
}
.mandyimage  {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-top:600px;
	height: 200px;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background-color: #111111;
	display: flex;
	border-radius: 5px;
}
.contentCrazy {
	padding-left: 30px;
}
.contentmandy img{
	width: 130px;
	border-radius: 10px;
}
.contentmandy {
	padding-left: 30px;
}

.crazyimage  {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 200px;
	margin-top:600px;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background-color: #111111;
	display: flex;
	border-radius: 5px;


}
.crazyimage img{
	width: 130px;
	border-radius: 10px;
}
.mandyimage img{
	width: 130px;
	border-radius: 10px;
}


.hero-section h5{
	
	font-weight: bold;
	

}
footer p{
	text-align: center;
	font-size: 30px;
	padding-top: 30px;
	font-weight: bold;

}

footer {
	background-color:#060606;
	font-size: 1.7em;
	height: 120px;
    margin-top: 900px;
}
